*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* in this breakpoint we need the form before posts */
@media (max-width: 599px) {
    .grid-content {
        flex-direction: column-reverse !important;
    }
}