.postGrid {
    display: flex;
    align-items: center;
}

.CircularProgress {
    width: calc(100% - 30%);
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5000;
}