form {
    padding: 0.5rem;
    margin: 8px;
    display: 'flex';
    flex-wrap: 'wrap';
    justify-content: center;
}

.fileInput {
    width: '97%';
    margin: 10px 0;
}

.submitBtn {
    margin-bottom: 10px !important;
}
.field {
    margin: 5px 0 !important;
}
.clear-btn {
    background-color: rgb(245, 65, 65) !important;
}